#game-board{
    width: 655px;
    margin: 0 auto;
    text-align: center;
    border: 2px solid black;
}

.color-tile{
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
    width: 30%;
    height: 121px;
    vertical-align: top;
    margin: 1.3%;
}


#header{
    border: 3px solid black;
    border-radius: 10px;
    height: 100px;
    line-height: 103px;
    font-size: 2em;
}

.header-tabs{
    border: 3px solid black;
    background-color: white;
    font-size: 18px;
    border-radius: 10px;
    height: 30px;
    width: 130px;
    position: relative;
    line-height: 30px;
    display: inline-block;
}

#tries-tab{
    left: -130px;
    top: -20px;
}

#countdown-tab{
    left: 130px;
    top: -20px;
}